
$class: page-menu;

.#{$class} {

}

.#{$class}__ul {

}

.#{$class}__li {
    display: inline-block;
    margin-right: 15px;
}

.#{$class}--disabled-link {
    color: hsl(var(--base-h-part), calc(var(--base-s-part) - 10%), 55%);
    cursor: default;
    border-bottom-color: transparent;

    &:hover {
        border-bottom-color: transparent;
    }
}
