$class: notice;

.#{$class} {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.#{$class}--standard {
    color: var(--text-color);
}
.#{$class}--error {
    color: hsl(354, 100, 44);
}
.#{$class}--success {
    color: hsl(134, 61, 40);
}

.#{$class}__icon {
    min-width: 13px;
    margin-top: 0.3rem;
    margin-right: 4px;
}

.#{$class}__paragraph {

}