$CN: left-bottom-section;

.#{$CN} {
    display: flex;
    justify-content: space-between;
    padding: 3px 12px 3px 12px;
    border-top: 1px solid var(--button-color);
}

.#{$CN}__group {
    display: flex;
    align-items: center;
}

.#{$CN}__button {
    cursor: pointer;
    padding: 4px 3px 3px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--bg-color);

    &:hover {
        background-color: var(--button-color);
    }

    &:disabled {
        cursor: default;
        opacity: .2;

        &:hover {
            background-color: var(--base-color);
        }
    }
}


// Кнопка-переключатель сообщающая будут ли скопированы атрибуты при копировании выделенного элемента
// Стиль неактивной кнопки
.#{$CN}__attr-btn {
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--base-color);
    padding: 1px 3px 0 3px;
    margin: -2px 0 0 3px;
    border: 1px solid var(--text-color);
    border-radius: var(--radius);

    &:hover {
        background-color: var(--base-color);
    }
}
// Стиль активной кнопки
.#{$CN}__attr-btn--active {
    color: white;
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);

    &:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
