
$class: app;

.#{$class} {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    height: 100vh;

    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0 auto;
}

.#{$class}__second-bg {
    background-color: var(--bg-color-2);
}
