// Тестовый стиль
/**{
    transition: background-color .7s, color .7s, fill .7s !important;
}*/
:root {
    // БАЗОВЫЕ ЦВЕТА
    // Части базового цвета
    --base-h-part: 240; // Цветовой оттенок
    --base-s-part: 8%;  // Насыщенность (тускло -> ярко)
    --base-l-part: 93%; // Светимость (темно -> светло)

    // Базовый цвет
    --base-color: hsl(var(--base-h-part), var(--base-s-part), var(--base-l-part));

    // Части акцентного цвета
    --accent-h-part: 211;
    --accent-s-part: 100%;
    --accent-l-part: 50%;

    // Акцентный цвет
    --accent-color: hsl(var(--accent-h-part), var(--accent-s-part), var(--accent-l-part));


    // ЦВЕТА ТЕКСТА
    // Цвет основного текста
    --text-color: hsl(var(--base-h-part), var(--base-s-part), 15%);


    // ЦВЕТА ССЫЛОК
    // Цвет ссылки
    --link-color: var(--accent-color);
    // Цвет посещённой ссылки
    --visited-link-color: hsl(calc(var(--accent-h-part) + 20), var(--accent-s-part), 55%);


    // ЦВЕТА ЭЛЕМЕНТОВ
    // Цвет кнопки
    --button-color: hsl(var(--base-h-part), var(--base-s-part), 83%);
    // Наведение на кнопку
    --button-color-hover: hsl(var(--base-h-part), var(--base-s-part), 80%);


    // ЗНАЧКИ
    // Основной цвет значка
    --icon-color: hsl(var(--base-h-part), var(--base-s-part), 22%);


    // ЦВЕТА ФОНА
    // Цвет фона: первый и второй
    --bg-color: var(--base-color);
    --bg-color-2: hsl(var(--base-h-part), var(--base-s-part), 84%);


    // РАЗНОЕ
    // Цвет при фокусе
    --focus-color: hsla(var(--accent-h-part), var(--accent-s-part), var(--accent-l-part), .9);

    // ЗАКРУГЛЕНИЯ
    --radius: 2px;
    --radius-2: 4px;
}

// Тёмная тема
.dark-theme {
    // БАЗОВЫЕ ЦВЕТА
    // Части базового цвета
    //--base-h-part: 240; // Цветовой оттенок
    //--base-s-part: 8%; // Насыщенность (тускло -> ярко)
    --base-l-part: 10%; // Светимость (темно -> светло)

    // Базовый цвет
    --base-color: hsl(var(--base-h-part), var(--base-s-part), var(--base-l-part));


    // ЦВЕТА ТЕКСТА
    // Цвет основного текста
    --text-color: hsl(var(--base-h-part), var(--base-s-part), 80%);


    // ЦВЕТА ЭЛЕМЕНТОВ
    // Цвет кнопки
    --button-color: hsl(var(--base-h-part), var(--base-s-part), 17%);
    // Наведение на кнопку
    --button-color-hover: hsl(var(--base-h-part), var(--base-s-part), 20%);


    // ЗНАЧКИ
    // Основной цвет значка
    --icon-color: hsl(var(--base-h-part), var(--base-s-part), 78%);


    // ЦВЕТА ФОНА
    // Цвет фона: первый и второй
    --bg-color: var(--base-color);
    --bg-color-2: hsl(var(--base-h-part), var(--base-s-part), 16%);
}
