// Тестовый стиль
* {
    //transition: background-color .7s, background .7s, color .7s, fill .7s, stroke .7s;
}

:root {
    // БАЗОВЫЕ ЦВЕТА
    // Части базового цвета (фон редактора)
    --base-h-part: 215; // Цветовой оттенок
    --base-s-part: 10%;  // Насыщенность (тускло -> ярко)
    --base-l-part: 94%; // Светимость (темно -> светло)

    // Базовый цвет
    --base-color: hsl(var(--base-h-part), var(--base-s-part), var(--base-l-part));

    // Части акцентного цвета
    --accent-h-part: 215;
    --accent-s-part: 100%;
    --accent-l-part: 50%;

    // Акцентный цвет
    --accent-color: hsl(var(--accent-h-part), var(--accent-s-part), var(--accent-l-part));
    // Акцентный цвет при наведении
    --accent-color-hover: hsl(var(--accent-h-part), var(--accent-s-part), 63%);


    // ЦВЕТА ТЕКСТА
    // Цвет основного текста
    --text-color: hsl(var(--base-h-part), var(--base-s-part), 20%);
    // Цвет текстозаполнителя
    --text-placeholder-color: hsl(var(--base-h-part), var(--base-s-part), 65%);


    // ЦВЕТА ССЫЛОК
    // Цвет ссылки
    --link-color: var(--accent-color);


    // ЦВЕТА ЭЛЕМЕНТОВ
    // Цвет кнопки
    --button-color: hsl(var(--base-h-part), 10%, 85%);
    // Наведение на кнопку
    --button-color-hover: hsl(var(--base-h-part), 10%, 79%);

    // Текстовое поле
    --text-input-color: hsl(var(--base-h-part), var(--base-s-part), 100%);


    // ЦВЕТА ФОНА
    // Цвет фона: первый и второй
    --bg-color: var(--base-color);
    --bg-color-2: hsl(var(--base-h-part), var(--base-s-part), 87%);


    // РАЗНОЕ
    // Цвет при фокусе
    --focus-color: hsla(var(--accent-h-part), var(--accent-s-part), var(--accent-l-part), .9);

    // ЗАКРУГЛЕНИЯ
    --radius: 2px;
    --radius-2: 4px;
}

// Тёмная тема
/*
.dark-theme {
    // БАЗОВЫЕ ЦВЕТА
    // Части базового цвета
    //--base-h-part: 240; // Цветовой оттенок
    //--base-s-part: 8%; // Насыщенность (тускло -> ярко)
    --base-l-part: 14%; // Светимость (темно -> светло)

    // Базовый цвет
    --base-color: hsl(var(--base-h-part), var(--base-s-part), var(--base-l-part));


    // ЦВЕТА ТЕКСТА
    // Цвет основного текста
    --text-color: hsl(var(--base-h-part), var(--base-s-part), 90%);
    // Цвет текстозаполнителя
    --text-placeholder-color: hsl(var(--base-h-part), var(--base-s-part), 40%);


    // ЦВЕТА ЭЛЕМЕНТОВ
    // Цвет кнопки
    --button-color: hsl(var(--base-h-part), var(--base-s-part), 23%);
    // Наведение на кнопку
    --button-color-hover: hsl(var(--base-h-part), var(--base-s-part), 26%);

    // Текстовое поле
    --text-input-color: hsl(var(--base-h-part), var(--base-s-part), 4%);


    // ЦВЕТА ФОНА
    // Цвет фона: первый и второй
    --bg-color: var(--base-color);
    --bg-color-2: hsl(var(--base-h-part), var(--base-s-part), 19%);
}*/
