$CN: modal-short-content;

.#{$CN} {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.#{$CN}__content {
    overflow: auto;
    padding: 0 10px 0 0;
}

.#{$CN}__bottom {

}
.#{$CN}__bottom--short {
    display: grid;
    gap: 5px;
    justify-content: stretch;
}
.#{$CN}__bottom--full {
    display: flex;
    gap: 10px;
}