$CN: modal;

.#{$CN}__outer-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.#{$CN} {
    background-color: var(--bg-color);
    border-radius: var(--radius-2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 2px 50px rgba(0, 0, 0, .2);
    transition: opacity .2s, transform .2s;
    transition-timing-function: cubic-bezier(.07,.73,.65,1);
}

.#{$CN}--scale-up {
    width: 370px;
    opacity: 0;
    padding: 1.5rem 2rem;
    transform: scale(1.08);
}