//@import "../../commonStyles/commonStyles";


//$CN: checkbox;

// Оригинальный флаг
/*.#{$CN}-input {
    position: absolute;
    opacity: 0;
}*/

// Вид label в зависимости от размера
/*.#{$CN}-label {
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: opacity .3s;
}*/
/*.#{$CN}-label--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-left: 19px;
}*/
/*.#{$CN}-label--middle-size {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 24px;
}*/
/*.#{$CN}-label--big-size {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-left: 28px;
}*/

// Общие стили псевдофлагов
/*.#{$CN}-label:before, .#{$CN}-label:after {
    content: '';
    position: absolute;
    left: 0;
    border-radius: var(--radius);
}*/

// Общие размеры псевдофлагов ::before и ::after
/*.#{$CN}-label--small-size {
    &::before, &::after {
        width: 14px;
        height: 14px;
        left: -19px;
    }
    &::before {
        top: 1px;
    }
}*/
/*.#{$CN}-label--middle-size {
    &::before, &::after {
        width: 17px;
        height: 17px;
        left: -24px;
    }
    &::before {
        top: 1px;
    }
}*/
/*.#{$CN}-label--big-size {
    &::before, &::after {
        width: 20px;
        height: 20px;
        left: -28px;
    }
    &::before {
        top: 1px;
    }
}*/

// Неотмеченный before
/*.#{$CN}-label::before {
    background-color: var(--button-color-hover);
    transition: background-color .13s;
}*/
// Отмеченный before
/*.#{$CN}-input:checked + .#{$CN}-label::before {
    background-color: var(--accent-color);
}*/

// Неотмеченный after
/*.#{$CN}-label::after {
    top: -2px;
    opacity: 0;
    transition: top .1s, opacity .1s;
}*/
// Отмеченный after
/*.#{$CN}-input:checked + .#{$CN}-label::after {
    opacity: 1;
    top: 1px;
}*/

// Галка отмеченного after
/*.#{$CN}-label--small-size:after {
    background-image: url('data:image/svg+xml;utf8,<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none" fillRule="evenodd" stroke-linecap="round" stroke-linejoin="round"><polyline stroke="rgb(0, 52, 108)" strokeWidth="1.6" opacity="0.2" points="4 9 6 11 11 5"></polyline><polyline stroke="white" strokeWidth="1.5" points="3.5 7.5 6 9.97900391 10.5 3.97900391"></polyline></g></svg>');
}*/
/*.#{$CN}-label--middle-size:after {
    background-image: url('data:image/svg+xml;utf8,<svg width="17px" height="17px" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g fill="none" fillRule="evenodd" stroke-linecap="round" stroke-linejoin="round"><polyline stroke="rgb(0, 52, 108)" strokeWidth="1.6" opacity="0.2" points="4.5 10.5 7.5 13.5 13 6.5"></polyline><polyline stroke="white" strokeWidth="1.7" points="4.25 9.10714286 7.28571429 12.1173619 12.75 4.8316476"></polyline></g></svg>');
}*/
/*.#{$CN}-label--big-size:after {
    background-image: url('data:image/svg+xml;utf8,<svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g  strokeWidth="2" fill="none" fillRule="evenodd" stroke-linecap="round" stroke-linejoin="round"><polyline stroke="rgb(0, 52, 108)" opacity="0.2" points="5.5 12.5 8.5 15.5 15 7.5"></polyline><polyline stroke="white" points="5 10.7142857 8.57142857 14.2557199 15 5.68429129"></polyline></g></svg>');
}*/


/*.#{$CN}-input:focus + .#{$CN}-label:before {
    // Включение стандартной фокусировки
    @include focus
}*/

// Заблокированное поле
/*
.#{$CN}-input:disabled + .#{$CN}-label {
    opacity: .5;
}*/
