
$CN: margin;

.#{$CN} {

}

// Классы дающие выравнивание
.#{$CN}--align-center {
    display: flex;
    justify-content: center;
}
.#{$CN}--align-right {
    display: flex;
    justify-content: flex-end;
}


// Классы дающие верний оступ
.#{$CN}--t5.#{$CN}--small-size {
    margin-top: .6rem;
}
.#{$CN}--t5.#{$CN}--middle-size {
    margin-top: .7rem;
}
.#{$CN}--t5.#{$CN}--big-size {
    margin-top: .8rem;
}

.#{$CN}--t10.#{$CN}--small-size {
    margin-top: 1rem;
}
.#{$CN}--t10.#{$CN}--middle-size {
    margin-top: 1.1rem;
}
.#{$CN}--t10.#{$CN}--big-size {
    margin-top: 1.2rem;
}

.#{$CN}--t15.#{$CN}--small-size {
    margin-top: 1.5rem;
}
.#{$CN}--t15.#{$CN}--middle-size {
    margin-top: 1.7rem;
}
.#{$CN}--t15.#{$CN}--big-size {
    margin-top: 1.8rem;
}

.#{$CN}--t20.#{$CN}--small-size {
    margin-top: 2rem;
}
.#{$CN}--t20.#{$CN}--middle-size {
    margin-top: 2.2rem;
}
.#{$CN}--t20.#{$CN}--big-size {
    margin-top: 2.4rem;
}

.#{$CN}--t30.#{$CN}--small-size {
    margin-top: 3rem;
}
.#{$CN}--t30.#{$CN}--middle-size {
    margin-top: 3.3rem;
}
.#{$CN}--t30.#{$CN}--big-size {
    margin-top: 3.5rem;
}


// Классы дающие нижний оступ
.#{$CN}--b10.#{$CN}--small-size {
    margin-bottom: 1rem;
}
.#{$CN}--b10.#{$CN}--middle-size {
    margin-bottom: 1.1rem;
}
.#{$CN}--b10.#{$CN}--big-size {
    margin-bottom: 1.2rem;
}

.#{$CN}--b25.#{$CN}--small-size {
    margin-bottom: 2.5rem;
}
.#{$CN}--b25.#{$CN}--middle-size {
    margin-bottom: 2.7rem;
}
.#{$CN}--b25.#{$CN}--big-size {
    margin-bottom: 2.8rem;
}