$CN: notice;

// Обёртка уведомления
.#{$CN} {
    display: flex;
    font-size: 1.4rem;
    line-height: 2rem;
}

// Цвета текста уведомления
.#{$CN}--standard {
    color: var(--text-color);
}
.#{$CN}--error {
    color: hsl(354, 100, 44);
}
.#{$CN}--success {
    color: hsl(134, 61, 40);
}

// Значёк
.#{$CN}__icon {
    min-width: 13px;
    margin-top: 0.3rem;
    margin-right: 4px;
}

// Абзац сообщения
.#{$CN}__paragraph {

}
