$class: notice;

// Обёртка уведомления
.#{$class} {
    display: flex;
}

// Цвета текста уведомления
.#{$class}--standard {
    color: var(--text-color);
}
.#{$class}--error {
    color: hsl(354, 100, 44);
}
.#{$class}--success {
    color: hsl(134, 61, 40);
}

// Размеры текста уведомления
.#{$class}--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.#{$class}--middle-size {
    font-size: 1.6rem;
    line-height: 2.1rem;
}
.#{$class}--big-size {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

// Значёк
.#{$class}__icon {
    min-width: 13px;
    margin-top: 0.3rem;
    margin-right: 4px;
}

// Абзац сообщения
.#{$class}__paragraph {

}