$CN: site-divided-area;

.#{$CN} {
    display: flex;
    flex-grow: 1;
}

.#{$CN}__divider {
    width: 1px;
    background-color: var(--bg-color-2);
    margin: 0 1.5rem;
}
.#{$CN}__left-part {
    max-width: 50%;
}
.#{$CN}__right-part {

}