
$class: label;

// label
.#{$class} {
    display: block;
    margin-bottom: 0.6rem;
}

.#{$class}--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.#{$class}--middle-size {
    font-size: 1.5rem;
    line-height: 1.9rem;
}
.#{$class}--big-size {
    font-size: 1.6rem;
    line-height: 2rem;
}