//@import "../../common/commonStyles/commonStyles";

//$CN: modal;

/*.#{$CN}__outer-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}*/

/*.#{$CN} {
    width: 370px;
    padding: 1.5rem 2rem;
    background-color: var(--bg-color);
    border-radius: var(--radius-2);
    @include big-shadow;
    transition: opacity .2s, transform .2s;
    transition-timing-function: cubic-bezier(.07,.73,.65,1);
}*/

/*
.#{$CN}--scale-up {
    opacity: 0;
    transform: scale(1.08);
}*/
