@import "../commonStyles/commonStyles";


$class: radio;

// Оригинальный флаг
.#{$class}-input {
    position: absolute;
    opacity: 0;
}

// Вид label в зависимости от размера
.#{$class}-label {
    position: relative;
    user-select: none;
    cursor: pointer;
}
.#{$class}-label--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-left: 19px;
}
.#{$class}-label--middle-size {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 24px;
}
.#{$class}-label--big-size {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-left: 28px;
}

// Общие стили псевдофлагов
.#{$class}-label {
    &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        transition: background-color .12s, opacity .12s;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        background-color: white;
        box-shadow: 0 1.5px 0 rgba(0, 52, 108, .2);
    }
}

// Размеры псевдофлага ::before и ::after
.#{$class}-label--small-size::before {
    width: 15px;
    height: 15px;
    left: -19px;
}
.#{$class}-label--middle-size::before {
    width: 18px;
    height: 18px;
    left: -24px;
}
.#{$class}-label--big-size::before {
    width: 21px;
    height: 21px;
    left: -28px;
}

// Размеры псевдофлага ::after
.#{$class}-label--small-size::after {
    width: 5px;
    height: 5px;
    left: -14px;
    top: 5px;
}
.#{$class}-label--middle-size::after {
    width: 6px;
    height: 6px;
    left: -18px;
    top: 6px;
}
.#{$class}-label--big-size::after {
    width: 7px;
    height: 7px;
    left: -21px;
    top: 7px;
}

// Неотмеченный before
.#{$class}-input:not(checked) + .#{$class}-label {
    &::before {
        background-color: var(--button-color-hover);
    }
    &::after {
        opacity: 0;
    }
}
// Отмеченный before
.#{$class}-input:checked + .#{$class}-label {
    &::before {
        background-color: var(--accent-color);
    }
    &::after {
        opacity: 1;
    }
}

// Фокусировка
.#{$class}-input:focus + .#{$class}-label:before {
    // Стандартная фокусировка
    @include focus
}
