@import "../commonStyles/commonStyles";

.text-input-label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;

    margin-bottom: 0.6rem;
}


$CN: text-input;

.#{$CN} {
    display: block;
    width: 100%;
    color: var(--text-color);
    box-sizing: border-box;

    background-color: var(--text-input-color);
    border: none;
    border-radius: var(--radius);

    &::placeholder {
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: var(--text-placeholder-color);
    }

    &:focus {
        // Включение стандартной фокусировки
        @include focus
    }
}

// Размер поля.
.#{$CN}--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: .4rem 0.8rem;
}
.#{$CN}--middle-size {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: .5rem 0.9rem;
}
.#{$CN}--big-size {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: .7rem 1.1rem;
}
