@import "../../commonStyles/commonStyles";


$CN: text-input;

.#{$CN} {
    display: block;
    width: 100%;
    font-family: 'SF UI Display', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;

    background-color: var(--text-input-color);
    border: none;
    border-radius: var(--radius);
    transition: opacity .3s;

    &::placeholder {
        font-size: 1.3rem;
        color: var(--text-placeholder-color);
    }

    &:focus {
        // Включение стандартной фокусировки
        @include focus
    }

    &:disabled {
        opacity: .5;
    }
}

// Размер поля.
.#{$CN}--small-size {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: .4rem 0.8rem;

    &::placeholder {
        line-height: 1.7rem;
    }
}
.#{$CN}--middle-size {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: .5rem 0.9rem;

    &::placeholder {
        line-height: 2rem;
    }
}
.#{$CN}--big-size {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: .7rem 1.1rem;

    &::placeholder {
        line-height: 2.2rem;
    }
}

// Задание максимальной ширины
.#{$CN}--maxWidth-250-small {
    max-width: 250px;
}
.#{$CN}--maxWidth-250-middle {
    max-width: 288px;
}
.#{$CN}--maxWidth-250-big {
    max-width: 325px;
}