$CN: left-part-2;

.#{$CN} {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100px;
}

.#{$CN}__top {
    flex-grow: 1;
    overflow: auto;
    padding: 1.5rem 2rem;
}
.#{$CN}__bottom {

}

.#{$CN}__temp-comps-wrapper, .#{$CN}__adjust-wrapper, .#{$CN}__layers-wrapper {
    overflow: auto;
}
.#{$CN}__temp-comps-wrapper {
    height: calc(40% - 15px);
}
.#{$CN}__adjust-wrapper {
    height: calc(20% - 15px);
    margin: 20px 0 20px 0;
}
.#{$CN}__layers-wrapper {
    height: calc(40% - 15px);
}